*{
    margin: 0;
    padding: 0;
    font-size: 15px;
}
h1 {
    color: rgb(116, 15, 102);
    font-size: 24px;
    font-family: 'Rubik Burned', cursive;
}
p{
    text-align: center;
    color: rgb(243, 12, 139);
}
#texto1{
    color: coral;
    font-family: 'Aboreto', cursive;
    font-size: 1.5 em;
}
#texto2{
    color: rgb(45, 146, 241);
    font-size: 2em;
}
.cuadro{
    background-color:darkred;
    width: 100px;
    height: 100px;
    margin: 100px;
}
#cuadro1:hover{
    background-color: papayawhip;
}
ul li:first-child{
    color: rgb(58, 243, 52);
}
#input1:focus{
    background-color: goldenrod;
}
span{
    padding: 30px;
    margin: 10px;
    display: block;
}
.spanAmarillo{
    background-color: #2f0480;
    color: yellow;
}
.spanEsmeralda{
    background-color: rgb(241, 253, 74);
    color: rgba(0, 200, 10, 80);
}
.spanIndigo{
    background-color: black;
    color: #ff6689;
}
h3{
    color: aquamarine;
    font-size: 3em;
}
.contenedor{
    width: 600px;
    height: 400px;
    border: 4px outset rgb(12, 79, 82);
    border-radius: 300px;
    background-image: url(./assets/gatoazulruso.webp);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.caja {
    /* background-color:#ff6689; */
    width: 100%;
    height: 700px;
    /* background-image: linear-gradient( to right, #b40cac, #51cab0 ); */
    /* background-image: linear-gradient(45deg, #27d16e, #f783d4); */
    /* background-image: radial-gradient(circle, #27d16e1c, #f783d41c), url("./assets/bg1-.jpg"); */
    background: rgb(70,247,24);
    background: linear-gradient(120deg, rgba(70,247,24,1) 0%, rgba(242,167,44,1) 35%, rgba(255,33,190,1) 60%, rgba(0,212,255,1) 100%), url("./assets/bg1-.jpg");
}
.cuadrito{
    width: 150px;
    height: 150px;
    background-color: aqua;
    animation-name: movit;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}
@keyframes movit {
    0%{
        background-color: aqua;
    }
    50%{
        background-color: rgb(255, 25, 133);
        transform: translate(700px) rotate(520deg) scale(2);
    }
    100%{
        background-color: gold;
        transform: translate(-400px) rotate(-90deg) scale(0.5);
    }
}
.map{
    margin: 50px;
    height: 800px;
    width: 800px;
    background: rgb(99,242,212);
    background: linear-gradient(80deg, rgba(99,242,212,1) 0%, rgba(251,141,234,1) 35%, rgba(255,125,121,1) 60%, rgba(255,0,104,1) 100%);
}
.robot{
    display: block;
    position: relative;
    height: 125px;
    animation-name: run;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes run {

    0%{
        transform: translate(0px);
    }
    25%{
        transform: translateX(300px);
    }
    50%{
        transform: translateY(300px) translateX(300px);
    }
    75%{
        transform: translateX(0px) translateY(300px);
    }
    
}
.cuadrito1{
    background-color: #ff6689;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 10px 20px 30px 40px;
    padding: 10px 20px 30px 40px;
    border: 2px solid black;
    box-sizing: border-box;
}
.cuadrito2{
    background-color: #47ff75;
    width: 200px;
    height: 200px;
    /* display: none; */
    margin: 10px 20px 30px 40px;
    padding: 10px 20px 30px 40px;
    border: 2px solid black;
    box-sizing: content-box;
}
.circulo{
    background-color: green;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display:inline;
    position: fixed;
    right: 0;
    top: 0;
    box-shadow: -7px 2px 17px rgb(42, 235, 42);
}

.icons{
    margin: 17px 0 0 17px;
    padding: 0;
    color: white;
}
.material-symbols-outlined {
    
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}