*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    background: rgb(246,27,31);
    background: linear-gradient(120deg, rgba(246,27,31,1) 0%, rgba(163,6,146,1) 50%, rgba(0,212,255,1) 100%);
}
.title{
    display:inline-block;
    align-self: center;
}
.container{
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;
    margin: 10px;
}
.box {
    background: rgba(223, 219, 219, 0.534);
    border: 1px solid rgb(5, 5, 5);
    border-radius: 30px;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AAA;
}
i{
    color: black;
    font-size: 30px;
}
